$content-bg:#EBECF0;

$modal-background: rgba(0,0,0,0.9);
$background-color: #EBECF0;
$body-color: #E2E4ED;
$box-shadow: #c8c8c8;
$cross-hover: #43005d;
$gradient-start: #FFFFFF;
$gradient-end: rgba(255, 255, 255, 0);
$header-background: #CFD3E3;
$header-link: #444141;
$header-hover: #7068e2;
$preloader: #e0e0e0;
$border-color: #8b8b8b;
$button-color: #d2d4dd;
$question-color: #F0F1F6;
