* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

