* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.btn{
  position: absolute;
  margin: 2% 1%;
  width: 160px;
  height: 29px;
  border-radius: 5px;
  border: 1px solid black;
  background: linear-gradient(180deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
  }
}