* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.btn{
  position: absolute;
  margin: 2% 1%;
  width: 160px;
  height: 29px;
  border-radius: 5px;
  border: 1px solid black;
  background: linear-gradient(180deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
  }
}

@keyframes hideBlock {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
.hidden {
  animation: hideBlock .2s linear forwards;
  visibility: hidden;
}

.visible {
  visibility: hidden;
} 

// spiner
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $preloader;
  z-index: 1001;
}
.preloader {
  &__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  &__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: $header-hover;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
    &:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }
  }
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded__hiding .preloader {
  transition: 5s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}

// resolution 

@media (min-width:1440px){
  .container {
    max-width: 1240px;
  }
}
@media (min-width:1600px){
  .container {
    max-width: 1340px;
  }
}
@media (min-width:1920px){
  .container {
    max-width: 1540px;
  }
}
