.header{
  background:  linear-gradient(180deg, #FFFFFF 0%, 
  rgba(255, 255, 255, 0) 100%), #CFD3E3;
  font-family:'Gill Sans', 'Gill Sans MT',
  Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.header__logo{
  width: 80px;
}

.header__content{
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  align-items: center;
  padding: 10px 0;
}
.header__section{
  display: flex;
  justify-content:  space-evenly;
}

.header__section_link{
  text-decoration: none;
  color: rgb(68, 65, 65);
}

.header__section_link:hover{
  background-color: #9696A3;
  border-radius: 4px;
}