.header{
  background:  linear-gradient(180deg, $gradient-start 0%, $gradient-end 100%), $header-background;
  font-family:'Gill Sans', 'Gill Sans MT',
  Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
}

.header__logo{
  width: 50px;
}

.header__content{
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  align-items: center;
  padding: 10px 0;
}
.header__section{
  display: flex;
  justify-content:  space-evenly;
}

.header__section_link{
  text-decoration: none;
  color: $header-link;
  padding: 4px 7px 7px 7px;
}

.header__section_link:hover{
  background-color: $header-hover;
  border-radius: 4px;
  padding: 4px 7px 7px 7px;
}