.header{
  background:  linear-gradient(180deg, #FFFFFF 0%, 
  rgba(255, 255, 255, 0) 100%), #CFD3E3;
  font-family:'Gill Sans', 'Gill Sans MT',
  Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  
}



.header__logo{
  width: 50px;
  margin-right: 10px;
}

.header__content{
  display: grid;
  grid-template-columns: 7fr 5fr;
  align-items: center;
  padding: 10px 0;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.header__section{
  display: flex;
  justify-content:  space-between;
  
}

.header__section_link{
  text-decoration: none;
  color: rgb(68, 65, 65);
  padding: 4px 7px 7px 7px;
}

.header__section_link:hover{
  background-color: rgb(112, 104, 226);
  border-radius: 4px;
  padding: 4px 7px 7px 7px;
  
}


