.block-main{
  background: linear-gradient(180deg, $gradient-start 0%, $background-color 30%), $background-color;
  height: calc(100vh - 70px);
  &__block-figure{
    margin: auto;
    padding-top: 80px;
    display: flex;
  }
  &__picture{
    width: 400px;
    height: 400px;
    position: absolute;
    margin: 5% 40% 5% 50%;
  }
  &__arrow {
    display: inline-block;
    font-size: 30px;
    margin-top: 22.5%;
    cursor: pointer;
    user-select: none;
  }
  &__right{
    margin-right: 3%;
    padding: 15px;
    float: right;
    transition: transform 0.5s ease-out;
    &:hover {
      transform: translateX(20px);
      transition: transform .5s ease-in;
    }
  }
  &__left{
    margin-left: 3%;
    padding: 15px;
    float: left;
    transition: transform 0.5s ease-out;
    &:hover {
      transform: translateX(-20px);
      transition: transform .5s ease-out;
    }
  }
}
.content {
  &__photo-develop{
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px $modal-background;
    border-radius: 10px;
  }
  &__group{
    width: 30%;
    margin: 4% 3%;
    &-input {
      position: relative;
      width: 100%;
      height: 25px;
      display: block;
      background-color: inherit;
      border: none;
      font-size: 15px;
      cursor: default;
      font-style: italic;
      &::-webkit-outer-spin-button, 
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        outline: none;
      }

      &.error {
        border-color: $header-hover;
      }
    }  
    &-style {      
      border-bottom: 1px solid $button-color;
    }
  }
}
.photo-container {
  width: 300px;
  height: 450px;
  overflow: hidden;
  margin-top: 45px;
}
.information {
  &__general {
    position: relative;
    width: 300px;
    font-size: 15px;
    line-height: 2; 
    cursor: default; 
  }
  &__edit {
    position: absolute;
    margin: 2% 1%;
    width: 160px;
    height: 29px;
    border-radius: 5px;
    border: 1px solid $modal-background;
    background: linear-gradient(180deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
    cursor: pointer;
    &:hover {
      background: linear-gradient(0deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
    }
  }
  &__save {
    position: absolute;
    margin: 2% 1%;
    width: 160px;
    height: 29px;
    border-radius: 5px;
    border: 1px solid $modal-background;
    background: linear-gradient(180deg, $gradient-start 0%, $gradient-end 52.38%), $background-color;
    cursor: pointer;
  }
  &__name-uppercase {
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    font-size: 18px;
  } 
  &__role {
    color: $header-link;
  }
  &__section {
    padding-top: 20px;
    width: 300px;
    border-bottom: 1px solid $modal-background;
  }
}
.cursor-text {
  cursor: text;
}
.cursor-default {
  cursor: default;
}
.textfield__error {
  display: none;
  position: absolute;
  right: 0;
  color: $error-color;
  font-size: 12px;
}
.error + .textfield__error {
  display: block;
}