.block-main{
  background: #EBECF0;
  height: 95vh;
}
.block-main__block-figure{
  max-width: 80%;
  margin: auto;
  padding: 81px;
  display: flex;
}
.content__photo-develop{
  width: 25%;
  height: 300px;
  margin:  10% 1%;
}
.content__group{
  width: 25%;
  margin: 15% 3%;
}
.information__name, .information__height, .information__weight,
.information__age, .information__birthday, .information__hobby{
  font-size: 15px;
  line-height: 2;
}
.information__edit{
  position: absolute;
  margin: 5% 1%;
  width: 160px;
  height: 29px;
  border-radius: 100px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 52.38%), #EBECF0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.11);
}
.block-main__picture{
  width: 400px;
  height: 400px;
  position: absolute;
  margin: 5% 40%;
}
div.block-main__right, div.block-main__left{
  display: inline-block;
  font-size: 30px;
  margin: 20% 2%;
}
.block-main__right{
  float: right;
}
.block-main__left{
  transform: rotate(180deg);
  float: left;
}
