
.new-question__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $modal-background;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  display: block;
  width: 600px;
  height: auto;
  border: none;
  background-color: $background-color;
  box-shadow: 2px 2px 5px $box-shadow;
}
.close {
position: absolute;
top: 15px;
right: 20px;
  &__modal {
      border: none;
      transform: scale(2.3);
      &:hover {
        color: $cross-hover;
      }
  }
}
.input-question {
  margin: 15px 0 0;
&__field {
  &-text {
      padding:  10px 10px;
      display: block;
      width: 500px;
      margin: 0 auto;
      resize: none;
  }
}
}
.select {
display: flex;
flex-direction: column;
margin-top: 30px;
  &__theme {
    display: block;
    width: 500px;
    height: 35px;
    margin-top: 5px;
    margin: 0 auto;
    cursor: pointer;
  }
}
.choose-answer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
    &__group {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      justify-content: space-between;
      width: 300px;
      margin: 0 auto;
    }

}
.label-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  cursor: pointer;
}
.checkBox {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  &__choose {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-around;
      width: 400px;
      &-label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }
      &-input {
        margin-right: 10px;
        cursor: pointer;
      }
  }
}
.buttons {
margin-top: 30px;
  &__group {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      justify-content: space-between;
      width: 300px;
      margin: 0 auto;
  }
}
.buttons .btn{
  position: static;
  padding: 5px;
  width: 70px;
}