button:focus {
    outline: none;
}
select:focus {
    outline: none;
}
.hidden {
    display: none;
}
/* PANEL */
.questions {
    min-height: calc(100vh - 174px);
    background: $body-color;
    &__panel {
        width: 100%;
        height: 110px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color;
        background: linear-gradient(to bottom, $gradient-start, $body-color);
    }
    &__button {
        position: relative;
        width: 16%;
        height: 30px;
        background: $button-color;
        border: 1px solid $border-color;
        transition: .3s ease;
        cursor: pointer;
        &:hover {
            background-color: $gradient-start;
        }
    }
    &__container {
        width: 100%;
        padding: 0 40px;
    }
    &__background {
        position: fixed;
        bottom: .5%;
        left: .5%;
    }
}
.dropdown {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__file-system, 
    &__theme,
    &__button {
        width: 16%;
        height: 30px;
        background: $background-color;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }
}
/* QUESTION LIST */
.question-list {
    position: relative;
    width: auto;
    min-height: calc(100vh - 200px);
    &__container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 30px;
        color: $modal-background;
    }
}
/* QUESTION */
.question {
    margin: 0 0 30px;
    width: 44%;
    min-height: 268px;
    overflow: hidden;    
    position: relative;
    border: 1px solid $modal-background;
    line-height: 1.5;
    background: $question-color;
    box-shadow: 5px 5px 5px $box-shadow;
    font-size: .9em;
    &__text {
        display: flex;
        align-items: center;
        width: 80%;
        height: 84px;
        margin: 36px auto 0;
        border: 1px solid $border-color;
        padding: 10px;
        text-align: justify;
        background: $background-color;
        &:hover {
            text-overflow: inherit;
            white-space: inherit;
        }
    }
    &__text-box {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 60px;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &:hover  .question__button {
        opacity: 1;
    }
    &__button {
        position: absolute;
        top: 47%;
        right: 41px;
        width: 67px;
        height: 65px;
        border: none;
        cursor: pointer;
        background: url(/src/img/7.png) no-repeat;
        opacity: 0;
        transform: scale(0.5);
    }
    &__answer {
        display: flex;
        flex-direction: row;
        height: 30px;
        margin: 20px 10% 0;
        text-align: center;
        &-key,
        &-value {
            padding: 3px 0 0;
            width: 150px;
            border: 1px solid $border-color;
            background: $background-color;   
        }
    }
    &__theme {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        height: 25px;
        margin: 40px 10% 0;
        border: 1px solid $border-color;
        background: $background-color;
        padding: 0 5px;
        &-key {
            padding-right: 5px;
        }
        &-value {
            padding: 0 5px;
            width: 250px;
            border-left: 1px solid $border-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
/* POPUP */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $modal-background;
    top: 0;
    left: 0;
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 200px;
        border: 1px solid $modal-background;
        background: $background-color;
    }
    &__text {
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    &-group {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 250px;
    }
}
/* POPUP */
.popup-button {
    &__close {
        position: absolute;
        top: 15%;
        right: 5%;
        width: 20px;
        height: 20px;
        background: none;
        border: none;
        transition: .3s ease;
        cursor: pointer;
        transform: translate(0, -50%) rotate(45deg);
        background: $question-color;
        &::before {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -2px;
            background: $modal-background;
        }
        &::after {
            content: '';
            width: 3px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -2px;
            background: $modal-background;
        }
    }
    &__confirm,
    &__cancel {
        width: 100px;
        height: 30px;
        text-align: center;
        background: $button-color;
        transition: .3s ease;

        &:hover,
        &:hover {
            background: $gradient-start;
        }
    }
}
.active {
    background: $header-hover;
    border-radius: 4px;
    padding: 4px 7px 7px 7px;
    opacity: 0.95;
}