@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 10fr;
      grid-template-columns: 1fr 1fr 10fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.navigation {
  -ms-grid-column-align: center;
      justify-self: center;
}

.navigation a {
  margin-right: 15px;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
}

.photo {
  width: 200px;
}

button:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  padding: 0 40px;
}

.background {
  position: fixed;
  bottom: .5%;
  left: .5%;
}

/* HEADER */
.header {
  height: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CFD3E3));
  background: linear-gradient(to bottom, #fff, #CFD3E3);
}

/* PANEL */
.questions {
  min-height: calc(100vh - 174px);
  background: #E2E4ED;
}

.questions__panel {
  width: 100%;
  height: 110px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8b8b8b;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E2E4ED));
  background: linear-gradient(to bottom, #fff, #E2E4ED);
}

.questions__button {
  position: relative;
  width: 16%;
  height: 30px;
  background: #d2d4dd;
  border: 1px solid #8b8b8b;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.questions__button:hover {
  background-color: #fff;
}

.dropdown {
  width: 100%;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__file-system, .dropdown__theme, .dropdown__button {
  width: 16%;
  height: 30px;
  background: #EBECF0;
  text-align: center;
}

/* QUESTION LIST */
.question-list {
  position: relative;
  width: auto;
  min-height: calc(100vh - 200px);
}

.question-list__container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-list__message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #000;
}

/* QUESTION */
.question {
  margin: 20px 0;
  width: 44%;
  min-height: 268px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  line-height: 1.5;
  background: #F0F1F6;
  -webkit-box-shadow: 5px 5px 5px #c8c8c8;
          box-shadow: 5px 5px 5px #c8c8c8;
  font-size: .9em;
}

.question__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 84px;
  margin: 36px auto 0;
  border: 1px solid #8b8b8b;
  padding: 10px;
  text-align: justify;
  background: #EBECF0;
}

.question__text:hover {
  text-overflow: inherit;
  white-space: inherit;
}

.question__text-box {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 60px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.question:hover .question__button {
  opacity: 1;
}

.question__button {
  position: absolute;
  top: 47%;
  right: 41px;
  width: 67px;
  height: 65px;
  border: none;
  cursor: pointer;
  background: url(/src/img/7.png) no-repeat;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.question__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  margin: 20px 10% 0;
  /* почему себя так ведет падинг? бордер внутри паддинга */
  text-align: center;
}

.question__answer-key, .question__answer-value {
  padding: 3px 0 0;
  width: 150px;
  border: 1px solid #8b8b8b;
  background: #EBECF0;
}

.question__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 25px;
  margin: 40px 10% 0;
  border: 1px solid #8b8b8b;
  background: #EBECF0;
  padding: 0 5px;
}

.question__theme-key {
  padding-right: 5px;
}

.question__theme-value {
  padding: 0 5px;
  width: 250px;
  border-left: 1px solid #8b8b8b;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* POPUP */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  /* opacity: 0;
    visibility: hidden; */
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 200px;
  border: 1px solid black;
  background: #EBECF0;
  z-index: 10000001;
}

.popup__text {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.popup-group {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

.popup-button__close {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  background: #F0F1F6;
}

.popup-button__close::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  background: black;
}

.popup-button__close::after {
  content: '';
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: black;
}

.popup-button__confirm, .popup-button__cancel {
  width: 100px;
  height: 30px;
  text-align: center;
  background: #d2d4dd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.popup-button__confirm:hover, .popup-button__confirm:hover, .popup-button__cancel:hover, .popup-button__cancel:hover {
  background: #fff;
}

.fon {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal {
  position: absolute;
  border: 1px solid black;
  width: 600px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  right: 25%;
  left: 25%;
  top: 25%;
  padding: 20px;
  display: block;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.question-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

textarea {
  display: block;
  width: 500px;
  margin-top: 10px;
}

.select-theme {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  margin-top: 10px;
}

select {
  display: block;
  width: 500px;
  margin-top: 5px;
}

.choose-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  margin-top: 15px;
}

.choose-answer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.choose-answer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
}

.checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  margin-top: 10px;
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
}

.check-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.buttons button {
  margin-left: 30px;
}
/*# sourceMappingURL=styles.css.map */